.header {
  width: 100%;
  margin: auto;
  align-items: center;
}

.header__title {
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin: auto;
  align-items: center;
}

.header__subtitle {
  font-style: normal;
  text-align: center;
  align-items: center;
  margin: auto;
  color: #ffffff;
}

.header__logo {
  margin: auto;
  align-items: center;
  display: block;
}

.header__image-overlay {
  margin: auto;
  align-items: center;
}

.header__image {
  position: absolute;
  z-index: 1;
  object-fit: contain;
}

.header__rectangle {
  position: relative;
  mix-blend-mode: hue;
  z-index: 2;
  object-fit: contain;
}

@media screen and (max-width: 319px) {
  .header__title {
    padding-top: 40px;
    font-size: 32px;
    line-height: 1;
  }
}

@media screen and (min-width: 320px) and (max-width: 470px) {
  .header__title {
    padding-top: 50px;
    font-size: 40px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 471px) and (max-width: 767px) {
  .header__title {
    padding-top: 80px;
    font-size: 98px;
    line-height: 1.04;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__title {
    width: 45rem;
    padding-top: 90px;
    font-size: 96px;
    line-height: 1.04;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1500px) {
  .header__title {
    width: 53.125rem;
    padding-top: 90px;
    font-size: 96px;
    line-height: 1.04;
  }
}

@media screen and (max-width: 319px) {
  .header__subtitle {
    padding-top: 40px;
    font-size: 14px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 320px) and (max-width: 470px) {
  .header__subtitle {
    font-size: 16px;
    padding-top: 60px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 471px) and (max-width: 768px) {
  .header__subtitle {
    padding-top: 99px;
    font-size: 30px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 769px) and (max-width: 1500px) {
  .header__subtitle {
    width: 45rem;
    padding-top: 32px;
    font-size: 30px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 319px) {
  .header__logo {
    width: 10.5rem;
    padding-top: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 470px) {
  .header__logo {
    width: 12.5rem;
    padding-top: 1.25rem;
  }
}

@media screen and (min-width: 471px) and (max-width: 1500px) {
  .header__logo {
    width: 16.875rem;
    padding-top: 34px;
  }
}

@media screen and (max-width: 319px) {
  .header__image-overlay {
    width: 100vw;
    padding-top: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 470px) {
  .header__image-overlay {
    width: 100vw;
    align-items: start;
    padding-top: 40px;
  }
}

@media screen and (min-width: 471px) and (max-width: 768px) {
  .header__image-overlay {
    width: 100%;
    align-items: start;
    padding-top: 36px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1500px) {
  .header__image-overlay {
    width: 61.5rem;
    padding-top: 64px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .header__image {
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1500px) {
  .header__image {
    width: 61.5rem;
    padding: 0;
    box-shadow: 10px 10px 25px 0px #00000080;
  }
}

@media screen and (max-width: 768px) {
  .header__rectangle {
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1500px) {
  .header__rectangle {
    width: 61.5rem;
    padding: 0;
  }
}
